body {
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
    
}

.logo-image {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 363px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        // width: 33%;
        max-width: 7.1875rem;
        height: auto;
    }
}

// Global Styles

h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 40px;
    color: #4C545C;
}

h2 {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 35px;
    color: #4C545C;
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #9eabb2;
}

// img {
//     width: 100%;
//     max-width: 39.0625rem;
// }

.buttons {
    padding: 31px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    .download-btn {
        font-family: 'Bai Jamjuree', sans-serif;
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 30px;
        border: none;
        font-weight: 600;
        color: white;
        font-size: 1.125rem;
        letter-spacing: 0.5px;
        max-width: 19.5625rem;
    }

    .ios {
        background-color: #26BBA4;
        box-shadow: 3px 3px 5px 2px #1b8070;
    }
    
    .mac {
        background-color: #6174FF;
        box-shadow: 3px 3px 5px 2px #4250c0;
    }
}
// Top Container

.top-container {
    padding: 32px;
    position: relative;
    bottom: 130px;
    margin-top: 23px;
    }

article {
    padding: 32px;
}

.features {
    width: 100%;
    padding: 31px;
    box-sizing: border-box;

    h3 {
        margin-top: 55px;
    }
}

.clipboard {
    margin-top: 93px;
    padding: 31px;

    img {
        margin-top: 2.9375rem;
    }
}

.features, .clipboard{
    img {
        width: 100%;
        max-width: 625px;
    }
}

.features-icons-cards {
    padding: 31px;

    .feat-card {
        margin-top: 60px;
        
        img {
            width: 15%;
            max-width: 5rem;
        }
    }

}

.enterprises {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 35%;
        max-width: 10.3125rem;
        margin: 40px 0;
    }
}

.bottom-container {
    padding: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .buttons {
        width: 100%;
    }
}

footer {
    background-color: #dae5eb;
    padding: 31px;

    .footer-logo img {
        width: 20%;
        max-width: 5.625rem;
        margin: 30px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            margin: 10px;
            text-decoration: none;
        }
    }

    .footer-social-media {
        margin-top: 50px;

        a {
            margin: 0 20px;
            text-decoration: none;
        }
        img {
            width: 10%;
            max-width: 2.1875rem;
        }
    }
}

@media screen and (min-width: 1440px) {

    body {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:0;
    }

    h1 {
        font-size: 2.875rem;
        margin-top: 0;
    }

    h2 {
        font-size: 2.25rem;
    }

    p {
        font-size: 1.25rem;
    }


    .buttons {
        display: flex;
        flex-direction: row;

        .download-btn {
            margin: 0 10px;
            width: 35%;
        }
        .download-btn:hover {
            cursor: pointer;
        }
        .ios:hover {
            background-color: #56e6d0;
        }
        .mac:hover {
            background-color: #8491fa;
        }
    }

    .logo-image {
        background-image: url(images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        img {
            max-width: 125px;
        }
    }

    .top-container {
        position: relative;
        bottom: 95px;
        width: 50%;
    }

    article {
        width: 50%;
    }

    .features {
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 0;
        position: relative;
        // right: 110px;
        overflow: hidden;

        .texts {
            max-width: 360px;
        }

        h3 {
            margin-top: 40px;
            margin-bottom: 0px;
            font-size: 1.65rem;
        }

        p {
            margin-top: 10px;
            font-size: 1rem;
            line-height: 1.8;
        }

        img {
            position: relative;
            right: 40px;
            margin-right: 70px;
        }

        .text {
            position: relative;
            bottom: 50px;
            text-align: left;
            margin-left: 15px;
        }
    }

    .clipboard {
        margin-top: 150px;
        width: 60%;

    }

    .features, .clipboard{
        img {
            width: 100%;
            max-width: 60rem;
            height: auto;
        }
    }

    .features-icons-cards {
        .text {
            margin-bottom: 50px;
        }
        .cards {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin: 0 auto;

            .feat-card {
                width: 30%;
                height: 202px;
                align-self: center;
                margin: 20px;
            }

            img {
                width: 10%;
            }
        }
    }
    .cards .feat-card:nth-child(3) {
        position: relative;
        top: 11px;
    }

    .enterprises {
        display: flex;
        flex-direction: row;

        img {
            padding: 30px;
        }
    }

    .bottom-container {
        width: 50%;
    }

    footer {
        max-width: 100%;
        width: 100%;
        padding: 20px 0;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .footer-logo {
            margin: 0;
            padding: 0;

            img {
                width: 30%;
            }
        }

        .footer-links {
            display: grid;
            grid-template-columns: 160px 160px 160px;
            grid-template-rows: 40px 40px;
            grid-template-areas: "faq privacy install"
                                "contact press .";
            
            a {
                padding: 5px 0px;
                margin: 0 30px;
                width: 200px;
                text-align: left;
            }

            a:hover {
                color: #26BBA4;
            }

            a:nth-child(1) {
                grid-area: faq;
            }
            a:nth-child(2) {
                grid-area: contact;
            }
            a:nth-child(3) {
                grid-area: privacy;
            }
            a:nth-child(4) {
                grid-area: press;
            }
            a:nth-child(5) {
                grid-area: install;
            }
        }

        .footer-social-media {
            display: flex;
            justify-content: center;
            position: relative;
            bottom: 25px;

            img {
                width: 140%;
            }
            img:hover {
                color: #26BBA4;
            }
        }
    }
}